@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.25,
  5: $spacer * 1.5,
  6: $spacer * 2,
  7: $spacer * 2.5,
  8: $spacer * 3,
  9: $spacer * 4,
);

$font-family-base: 'Inter', serif;
$body-bg: #F3F4F9;
$link-color: #9A9DA4;
$nav-link-font-size: 0.875rem;
$nav-link-font-weight: 500;
$primary: #1952E1;
$btn-font-size-sm: 0.75rem;
$btn-line-height: 1rem;
$input-border-radius-sm: 0.25rem;
$input-padding-y-sm: 0.875rem;
$input-padding-x-sm: 1rem;
$input-border-color: #E2E4EA;
$input-bg: transparent;
$input-focus-box-shadow: none;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

#app {
  height: 100vh;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
}

h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.fs-075 {
  font-size: 0.75rem;
}